body {
  background-color: #262c2d;
  font-family: 'Monoton', serif;
  width: 100%;
  background-image:
    radial-gradient(#35CDD1 3%, transparent 0),
    radial-gradient(#35CDD1 3%, transparent 0);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

a:visited {
  background-color: #C4EFDA;
}

a {
  text-decoration: none
}


/* Header */

.navbar {
  height: 230px;
  display: block;
  text-align: center;
  background-image: linear-gradient(to top, #35CDD1, #C4EFDA);
  position: fixed;
  width: 60%;
  top: 0;
  z-index: 1;
  margin: 20px 20%;
  border-radius: 20px;
}

.navstick {
  display: block;
  text-align: center;
  background-image: linear-gradient(to left, #35CDD1, #C4EFDA);
  position: fixed;
  height: 40px;
  width: 100%;
  opacity: 0;
  z-index: 2;
  padding-top: 5px;
  top: 0;

}

.navtitle {
  font-size: 60px;
  font-family: 'Monoton', serif;
}

.navbar a, a:visited {
  text-decoration: none;
  color: #3B4548;
}

.navbar a:hover, .navsubtitle:hover {
  color: #2ec4f2;
}

.navlinks a, .mobile-navlinks a {
  margin: 15px;
  background-color: #e6f7ee;
  color: #35CDD1;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  clear: both;
  font-family: 'Monoton', serif;
  font-size: 20px;
}

.navlinks a:hover, .mobile-navlinks a:hover {
  background-color: #C4EFDA;
  color: #35CDD1;
  background: #C4EFDA;
  background-image:
    radial-gradient(#35CDD1 9%, transparent 0),
    radial-gradient(#35CDD1 9%, transparent 0);
  background-size: 10px 10px;
  background-position: 0 0, 15px 15px;  font-family: 'Monoton', serif;

}

.navlinks a:visited, .mobile-navlinks a:hover {
  color: #35CDD1;
}

.navsubtitle {
  font-family: 'Monoton', serif;
  font-size: 20px;
  color: #35CDD1;
  text-decoration: none;
  width: 300px;
  position: fixed;
  top: 0;
  padding: 5px 10px;
  word-spacing: 0.1em
}

.navsubtitlestick {
  font-family: 'Monoton', serif;
  font-size: 20px;
  color: #262c2d;
  text-decoration: none;
  width: 300px;
  z-index: 3;
  position: fixed;
  top: 0;
  text-align: left;
  margin: 5px 10px;
  word-spacing: 0.1em;
}

.navbar hr {
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  color: #2ec4f2;
  height: 3px;
  background-color: #2ec4f2;
  border: 0 none;
  margin-top: 10px;
  margin-bottom: 40px;
  border-radius: 3px
}

.navstick a {
  border: none;
  background: none;
  color: #262c2d
}

.navstick a:visited {
  color: #2ec4f2
}

.navstick a:hover {
  background: none;
  color: #2ec4f2;
}

button.top {
  text-align: center;
  padding: 10px;
  display: block;
  margin: 30px auto;
  font-size: 20px;
  border: 3px solid #23C6B3;
  border-radius: 80px;
  background: #C4EFDA;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 100;
  opacity: 0;
}

button.hamburger {
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 5px 5px 5px 5px;
  margin: 20px;
  border: 1px solid #35CDD1;
  line-height: 2.5em;
  font-family: monospace;
  font-size: 20px;
  padding: 1px 13px;
  opacity: 0;
  color: #35CDD1;
  z-index: 100;
  background: #C4EFDA;
  background-image:
    radial-gradient(#35CDD1 9%, transparent 0),
    radial-gradient(#35CDD1 9%, transparent 0);
  background-size: 10px 10px;
  background-position: 0 0, 15px 15px;  font-family: 'Monoton', serif;

}

button.hamburger:hover {
  background: #C4EFDA
}

.mobile-navlinks {
  display: inline-block;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 5px 5px 5px 5px;
  margin: 1px 10px;
  border: 1px solid #35CDD1;
  line-height: 2.4em;
  padding: 1px;
  opacity: 1;
  z-index: 100;
  color: #2ec4f2;
  background: #C4EFDA;
  background-image:
    radial-gradient(#35CDD1 9%, transparent 0),
    radial-gradient(#35CDD1 9%, transparent 0);
  background-size: 10px 10px;
  background-position: 0 0, 15px 15px;  font-family: 'Monoton', serif;
}

.mobile-navlinks a {
  display: inline-block;
  color: #35CDD1;
  text-align: center;
  background: none;
  padding: 0 20px;
  margin: 0;
  font-size: 15px
}

.mobile-navlinks a:hover {
  background: none;
  color: #262c2d;
}

button.top {
  padding: 10px;
  display: block;
  margin: 30px auto;
  font-size: 1.8em;
  font-weight: bold;
  border: 3px solid #35CDD1;
  color: #35CDD1;
  border-radius: 80px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 100;
  opacity: 0;
  background: #C4EFDA;
  background-image:
    radial-gradient(#35CDD1 10%, transparent 0),
    radial-gradient(#35CDD1 10%, transparent 0);
  background-size: 10px 10px;
  background-position: 0 0, 15px 15px;  font-family: 'Noto Serif', serif;

}

button.top:hover {
  background-color: #35CDD1;
  color: #C4EFDA;
  opacity: .5;
}

button#top {
  visibility: hidden;
}


/* Footer */

.emily {
  padding: 10px 0 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
  font-family: 'Pacifico', cursive;
  color: #35CDD1;
  font-size: 12px;
}

.emily a:visited {
  color: #35CDD1
}

.emily a:hover {
  color: #C4EFDA
}

.socialmedia {
  width: 100%;
  margin: 0 auto 10px auto;
  text-align: center;
}

.socialmedia a {
  padding: 10px;
  font-size: 30px;
  color: #35CDD1;
}

.socialmedia i:hover {
  color: #C4EFDA
}

i {
  color: #35CDD1;
}

/* Project Cards */

.projectspage {
  margin: 280px 0;
}

.cardborder {
  display: inline-block;
  float: left;
  width: 33.33%;
  font-style:
}

.imageborder {
  width: 60%;
  margin: 40px 20%;
  height: 250px;
  overflow: hidden;
  border: 1px solid #C4EFDA;
  border-radius: 5px;
}

.imageborder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageborder:hover {
  transform: rotate(15deg);
  -webkit-filter: sepia(1);
  filter: sepia(1);
}

.caption {
  color: black;
  font-family: 'Noto Serif', serif;
  font-weight: bold;
  text-align: center;
  margin: 0 10px 20px 10px;
  font-size: 20px;
  padding: 20px;
  height: 50px;
  overflow: hidden;
  color: #C4EFDA;
}

/* Home Page */

.home {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 2000px
}

.homecaptionlast {
  position: fixed;
  text-align: left;
  width: 50%;
  margin: 0 25%;
  top: 70px;
  font-size: 2em;
  color: #C4EFDA;
  font-family: 'Noto Serif', serif;
  font-weight: bold;
}

#okay, #me {
  opacity: 0;
}

#me {
  color: #35CDD1;
  font-family: 'Pacifico', cursive
}

.tile-container {
  display: block;
  width: 100%;
  margin: 0 auto;
  top: 260px;
  position: fixed;
}

.tiles {
}

.tile {
  display: inline-block;
  color: #262c2d;
  height: 230px;
  float: left;
  font-size: 15px;
  text-align: left;
  border-radius: 3px;
  width: 16.45%;
  text-indent: 10px;
  margin: 0.1%;
  padding-top: 10px;
}


#tile-6 {
  background-image: linear-gradient(rgba(44, 195, 242, 0.52), rgba(51, 204, 209, 0.5)), url("../src/components/img/mom.jpg");
  background-position: top;
  background-size: cover;
  color: #eaf9f9;
}
#tile-5 {
  background-image: linear-gradient(rgba(195, 239, 217, 0.55), rgba(188, 251, 232, 0.52)), url("../src/components/img/goseong.JPG");
  background-position: center;
  background-size: cover;
}
#tile-4 {
  background-image: linear-gradient(rgba(51, 204, 209, 0.5), rgba(44, 195, 242, 0.52)), url("../src/components/img/adventure2.JPG");
  background-position: top;
  background-size: cover;
  color: #eaf9f9;
}
#tile-3 {
  background-image: linear-gradient(rgba(195, 239, 217, 0.55), rgba(44, 195, 242, 0.52)), url("../src/components/img/teacher.JPG");
  background-position: center;
  background-size: cover;
}
#tile-2 {
  background-image: linear-gradient(rgba(44, 195, 242, 0.52), rgba(51, 204, 209, 0.5)), url("../src/components/img/otago.jpg");
  background-position: center;
  background-size: cover;
  color: #eaf9f9;
}
#tile-1 {
  background: linear-gradient(rgba(195, 239, 217, 0.55), rgba(51, 204, 209, 0.5)), url("../src/components/img/candles.jpg");
  background-position: center;
  background-size: cover;
}

/*This allows the tile to toggle the background and font size just for the title */
#tile-1:hover, #tile-2:hover, #tile-3:hover, #tile-4:hover, #tile-5:hover, #tile-6:hover {
  background-image: linear-gradient(to top, #35CDD1, #C4EFDA);
  color: inherit;
  font-size: 1.2em;
}

.tile-1-text, .tile-2-text, .tile-3-text, .tile-4-text, .tile-5-text, .tile-6-text {
  padding-top: 60px;
  margin: 0;
  font-size: 1.3em;
  text-indent: 0px;
  font-weight: bold;
  text-align: center;
  font-family: 'Pacifico', cursive;
  display: none
}

.tile svg {
  font-size: 2em
}


/* Aboutpage */

.story, .skills {
  display: block;
  text-align: center;
  z-index: 1;
  margin: 300px 20%;
  border-radius: 20px;
  padding: 60px;
  font-family: 'Noto Serif', serif;
  font-size: 30px;
  font-weight: bold;
  color: #C4EFDA;
}

.story {
  background-image: url("../src/components/img/bus.jpg");
  background-position: 0% 20%;
  background-size: cover;
}

.timeline {
  background-color: #C4EFDA;
  background-image:
    radial-gradient(#35CDD1 6%, transparent 0),
    radial-gradient(#35CDD1 6%, transparent 0);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
  opacity: 0;
  padding-top: 30px
}

.dcpic {
  background-image: url("../src/components/img/childhood2.jpg");
  background-position: 0% 20%;
  background-size: cover;
  height: 200px;
  width: 200px;
  margin: 10px auto 0 auto;
  -webkit-filter: sepia(1);
  filter: sepia(1);
  border-radius: 5px
}

.beginning {
  border-radius: 4px;
  width: 30%;
  margin: auto;
  display: block;
  font-size: 20px;
  padding: 20px;
  font-family: 'Noto Serif', serif;
  font-weight: bold;
  clear:both;
  background-color: #35CDD1
}

.row {
  display: inline-block;
  width: 50%
}

.event {
  background-color: #35CDD1;
  border-radius: 4px;
  width: 70%;
  margin: 0 15%;
  font-style: bold;
  font-size: 20px;
  padding: 20px;
  font-family: 'Noto Serif', serif;
  font-weight: bold;
  font-size: 18px
}

.event-image {
  background-size: cover;
  width: 40%;
  margin: 0 30%;
  -webkit-filter: sepia(1);
  filter: sepia(1);
  height: 200px;
  border-radius: 5px;
  margin-top: 30px;  background-position: 0% 20%;


}

#abroad {
  background-image: url("../src/components/img/band.jpg");
}

p#indent {
  text-indent: 15px
}

.line {
  color: #2ec4f2;
  width: 4px;
  background-color: #2ec4f2;
  position: absolute;
  margin-left: 49.9%;
  margin-right: 49.9%;
  z-index: 1
}

.skills {
  margin: 10%;
  height: 400px;
  padding-top: 20px
}

.skill-text {
  width: 100%;
  font-size: 1.2em;
}

.skill-levels, .skill-names {
  display: inline-block;
  width: 50%;
  float: left;
  clear: both;
}

/* .bottomlinks {
  background-color: #C4EFDA;
  background-image:
    radial-gradient(#35CDD1 6%, transparent 0),
    radial-gradient(#35CDD1 6%, transparent 0);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
  height: 200px;
  bottom: 0px;
  opacity: 1;
  z-index: 1
} */


/*Show Pages*/

.showimg img {
  width: 100%;
  margin: auto;
  border-radius: 10px;
}

.showimg {
  float: left;
  display: inline-block;
  margin: 20px 4%;
  width: 50%;
}

.desc-cont {
  float: left;
  display: inline-block;
  margin: 20px 4%;
  width: 30%;
}

.desc {
  text-align: left;
  background-image: linear-gradient(to top, #35CDD1, #C4EFDA);
  z-index: 1;
  border-radius: 10px;
  padding: 30px;
  font-family: 'Noto Serif', serif;
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  margin: auto;
}

.projectborder {
  height: 500px;
  overflow: scroll;
  width: 90%;
  margin: 20px auto;
}

.buttons {
  width: 100%;
  clear: both;
  margin: 40px auto 600px auto;
  text-align: center;
}

.github, .link, .goback {
  font-family: 'Monoton', serif;
  color: #C4EFDA;
  background: #35CDD1;
  border-radius: 3px;
  display: inline-block;
  width: 100px;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  margin: 10px;
  word-spacing: 0.2em
}

.buttons a:hover{
  color: #C4EFDA;
}

/* Contact Page (Empathy) */

.contactcontainer {
  display: block;
  text-align: center;
  width: 40%;
  z-index: 1;
  margin: 30px auto 400px auto;
  border-radius: 20px;
  padding: 20px;
  font-family: 'Noto Serif', serif;
  font-size: 1.4em;
  font-weight: bold;
  color: #35CDD1;
  background: #C4EFDA;
  background-image:
    radial-gradient(#35CDD1 4%, transparent 0),
    radial-gradient(#35CDD1 4%, transparent 0);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}

.formcaption {
  display: block;
  width: 70%;
  margin: 20px auto 30px auto;
  font-size: 1.4em;
  font-weight: bold
}

.emily-contact {
  display: inline-block;
}

textarea {
  display: block;
  width: 60%;
  height: 300px;
  margin: auto;
}

button#submit {
  font-size: 30px;
  background-image: linear-gradient(to top, #35CDD1, #C4EFDA);
  font-family: 'Monoton', serif;
  color: #262c2d;
  border: none;
  border-radius: 10px
}

button#submit:hover {
  color: #2ec4f2
}

.empathy {
  display: block;
  text-align: center;
  background-image: linear-gradient(to top, #35CDD1, #C4EFDA);
  width: 40%;
  z-index: 1;
  margin: 300px auto 10px auto;
  border-radius: 20px;
  padding: 20px;
  font-family: 'Noto Serif', serif;
  font-size: 1.4em;
  font-weight: bold
}

form {
  z-index: 5
}


@media only screen and (max-width: 900px) {

  .cardborder {
    width: 100%;
    display: block;
    float: none;
  }

  .gallery {
    margin-top: 200px;
  }

  .navtitle {
    width: 200px;
    font-size: 35px;
    margin: 20px auto 10px auto;
  }

  .navsubtitle {
    font-size: 20px;
  }

  hr {
    margin-bottom: 12px
  }

  .navlinks a {
    display: inline-block;
    padding: 5px;
    margin: 5px auto;
    font-size: 15px;
    width: 50%
  }

  .emily {
    font-size: 12px;
  }

  .navbar {
    height: 300px;
    margin-top: 50px;
    padding-bottom: 20px
  }

  .aboutimage {
    float: none;
    width: 80%;
  }

  .forwardarrow {
    right: 2%;
    margin-top: 100px;
    padding: 7px
  }

  .backarrow {
    left: 2%;
    margin-top: 100px;
    padding: 7px
  }

  .show {
    width: 70%;
    margin: 200px auto;
  }

  .showimage {
    width: 100%
  }

  a {
    text-decoration: none;
  }

  .projectspage {
    margin: 400px auto;
  }

  .nav, button.hamburger, .mobile-navlinks, .mobile-navlinks a, .cross {
    display: block;
  }

  .contactcontainer {
    margin: 500px auto;
  }

  .aboutpage, .home {
    margin: 390px auto;
  }

  .home img {
    width: 80%
  }

  .contactcontainer, .empathy {
    width: 80%
  }

  .empathy {
    margin-top: 400px
  }

  .contactcontainer {
    margin-top: 30px
  }

  .submit {
    font-size: 60px
  }

  .mobile-navlinks {
    display: block;
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
    border-bottom: 1px solid #2ec4f2;
    border-radius: 0;
    line-height: 2.5em;
    padding: 8px;
    opacity: 1;
    z-index: 100;
    background: #C4EFDA;
    background-image:
      radial-gradient(#35CDD1 8%, transparent 0),
      radial-gradient(#35CDD1 8%, transparent 0);
    background-size: 10px 10px;
    background-position: 0 0, 15px 15px;  font-family: 'Noto Serif', serif;
  }

  .mobile-navlinks a {
    color: #35CDD1;
    text-align: center;
    background: none;
    display: block;
    font-size: 25px;
    padding: 9px
  }

  .mobile-navlinks a:hover {
    color: #35CDD1
  }

  a.cross {
    font-size: 40px
  }

  .desc-cont, .showimg {
    display: block;
    float: none;
    width: 90%
  }

  .desc {
    width: 400px
  }

  .projectborder {
    height: auto;
  }


}
