body {
  background-color: #262c2d;
  font-family: 'Monoton', serif;
  width: 100%;
  background-image:
    radial-gradient(#35CDD1 3%, transparent 0),
    radial-gradient(#35CDD1 3%, transparent 0);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

a:visited {
  background-color: #C4EFDA;
}

a {
  text-decoration: none;
}


/* Header */

.navbar {
  height: 230px;
  display: block;
  text-align: center;
  background-image: linear-gradient(to top, #35CDD1, #C4EFDA);
  position: fixed;
  width: 60%;
  top: 0;
  z-index: 1;
  margin: 35px 20%;
  border-radius: 20px;
}

.navstick {
  display: block;
  text-align: center;
  background-image: linear-gradient(to left, #35CDD1, #C4EFDA);
  position: fixed;
  height: 40px;
  width: 100%;
  opacity: 0;
  z-index: 2;
  padding-top: 5px;
  top: 0;
}

.navtitle {
  font-size: 55px;
  font-family: 'Monoton', serif;
}

.navbar a, a:visited {
  text-decoration: none;
  color: #3B4548;
}

.navbar a:hover, .navsubtitle:hover {
  color: #2ec4f2;
}

.navlinks a, .mobile-navlinks a {
  background-color: #e6f7ee;
  color: #35CDD1;
  border: 0.5px solid #35CDD1;
  text-decoration: none;
  border-radius: 5px;
  clear: both;
  font-family: 'Monoton', serif;
  font-size: 1.2em;
  display: inline-block;
  padding: 10px;
  margin: 0 10px
}

.navlinks p {
  margin: 0
}

.navlinks svg {
  font-size: 20px
}

.navlinks a:hover, .mobile-navlinks a:hover {
  background-color: #C4EFDA;
  color: #35CDD1;
  background: #C4EFDA;
  background-image:
    radial-gradient(#35CDD1 9%, transparent 0),
    radial-gradient(#35CDD1 9%, transparent 0);
  background-size: 10px 10px;
  background-position: 0 0, 15px 15px;  font-family: 'Monoton', serif;

}

.navlinks a:visited, .mobile-navlinks a:hover {
  color: #35CDD1;
}

.navsubtitle {
  font-family: 'Monoton', serif;
  font-size: 20px;
  color: #35CDD1;
  text-decoration: none;
  width: 300px;
  position: fixed;
  top: 0;
  padding: 5px 10px;
  word-spacing: 0.1em
}

.navsubtitlestick {
  font-family: 'Monoton', serif;
  font-size: 20px;
  color: #262c2d;
  text-decoration: none;
  width: 300px;
  z-index: 3;
  position: fixed;
  top: 0;
  text-align: left;
  margin: 5px 10px;
  word-spacing: 0.1em;
}

.navbar hr {
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  color: #2ec4f2;
  height: 3px;
  background-color: #2ec4f2;
  border: 0 none;
  margin-top: 0;
  margin-bottom: 30px;
  border-radius: 3px
}

.navstick a {
  border: none;
  background: none;
  color: #262c2d
}

.navstick a:visited {
  color: #2ec4f2
}

.navstick a:hover {
  background: none;
  color: #2ec4f2;
}

button.hamburger {
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 5px 5px 5px 5px;
  margin: 20px;
  border: 1px solid #35CDD1;
  line-height: 2.5em;
  font-family: monospace;
  font-size: 20px;
  padding: 1px 13px;
  opacity: 0;
  color: #35CDD1;
  z-index: 100;
  background: #C4EFDA;
  background-image:
    radial-gradient(#35CDD1 9%, transparent 0),
    radial-gradient(#35CDD1 9%, transparent 0);
  background-size: 10px 10px;
  background-position: 0 0, 15px 15px;  font-family: 'Monoton', serif;

}

button.hamburger:hover {
  background: #C4EFDA
}

.mobile-navlinks {
  display: inline-block;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 5px 5px 5px 5px;
  margin: 1px 10px;
  border: 1px solid #35CDD1;
  line-height: 2.4em;
  padding: 1px;
  opacity: 1;
  z-index: 100;
  color: #2ec4f2;
  background: #C4EFDA;
  background-image:
    radial-gradient(#35CDD1 9%, transparent 0),
    radial-gradient(#35CDD1 9%, transparent 0);
  background-size: 10px 10px;
  background-position: 0 0, 15px 15px;  font-family: 'Monoton', serif;
}

.mobile-navlinks a {
  display: inline-block;
  color: #35CDD1;
  text-align: center;
  background: none;
  padding: 0 20px;
  margin: 0;
  font-size: 15px
}

.mobile-navlinks a:hover {
  background: none;
  color: #262c2d;
}

.top, .skill-button {
  padding: 10px;
  display: block;
  margin: 30px auto;
  font-size: 1.8em;
  font-weight: bold;
  border: 3px solid #35CDD1;
  color: #35CDD1;
  border-radius: 80px;
  position: fixed;
  bottom: 40px;
  right: 20px;
  z-index: 100;
  opacity: 0;
  background: #C4EFDA;
  background-image:
    radial-gradient(#35CDD1 10%, transparent 0),
    radial-gradient(#35CDD1 10%, transparent 0);
  background-size: 10px 10px;
  background-position: 0 0, 15px 15px;  font-family: 'Bitter', serif;

}

.skill-button {
  position: relative;
  font-size: 1.2em;
  text-align: center;
  width: 400px;
  margin: auto;
  bottom: 0;
  right: 0;
  margin-top: 200px
}

.top:hover, .skill-button:hover {
  background-color: #35CDD1;
  color: #C4EFDA;
  opacity: .5;
}

div.top {
  display: none
}


/* Footer */

.emily {
  position: fixed;
  bottom: 15px;
  width: 30%;
  margin: 0 35%;
  text-align: center;
  z-index: 50;
  font-family: 'Pacifico', cursive;
  color: #35CDD1;
  font-size: 12px;
}

.emily a:visited {
  color: #35CDD1
}

.emily a:hover, .emily a {
  color: #C4EFDA
}

.socialmedia {
  width: 100%;
  margin: 0 auto 10px auto;
  text-align: center;
  z-index: 50
}

.socialmedia a {
  padding: 10px;
  font-size: 30px;
  color: #35CDD1;
}

.socialmedia i:hover {
  color: #C4EFDA
}

i {
  color: #35CDD1;
}

/* Project Cards */

.projectspage {
  margin: 280px 0;
}

.space {
  clear: both;
  margin-bottom: 200px
}

.cardborder {
  display: inline-block;
  float: left;
  width: 33.33%;
  margin-bottom: 50px
}

.imageborder {
  width: 60%;
  margin: 40px 20%;
  height: 250px;
  overflow: hidden;
  border: 1px solid #C4EFDA;
  border-radius: 5px;
}

.imageborder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageborder:hover {
  transform: rotate(15deg);
  -webkit-filter: sepia(1);
  filter: sepia(1);
}

.caption {
  color: black;
  font-family: 'Bitter', serif;
  font-weight: bold;
  text-align: center;
  margin: 0 10px 20px 10px;
  font-size: 20px;
  padding: 20px;
  height: 50px;
  overflow: hidden;
  color: #C4EFDA;
  text-decoration: underline solid #2ec4f2;
  text-underline-position: under left;

}

.caption:hover {
  text-decoration: overline dotted #2ec4f2;
}

/* Home Page */

.home {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 2000px
}

.homecaptionlast {
  position: fixed;
  text-align: left;
  width: 50%;
  margin: 0 25%;
  top: 70px;
  font-size: 2em;
  color: #C4EFDA;
  font-family: 'Bitter', serif;
  font-weight: bold;
}

#okay, #me {
  opacity: 0;
}

#me {
  color: #35CDD1;
  font-family: 'Pacifico', cursive
}

.tile-container {
  display: block;
  width: 100%;
  margin: 0 auto;
  top: 280px;
  position: fixed;
}

.tile {
  display: inline-block;
  color: #262c2d;
  height: 230px;
  float: left;
  font-size: 15px;
  text-align: left;
  border-radius: 3px;
  width: 16.45%;
  text-indent: 10px;
  margin: 0.1%;
  padding-top: 10px;
}


#tile-6 {
  background-image: linear-gradient(rgba(44, 195, 242, 0.52), rgba(51, 204, 209, 0.5)), url("../src/components/img/mom.jpg");
  background-position: top;
  background-size: cover;
  color: #eaf9f9;
}
#tile-5 {
  background-image: linear-gradient(rgba(195, 239, 217, 0.55), rgba(188, 251, 232, 0.52)), url("../src/components/img/goseong.JPG");
  background-position: center;
  background-size: cover;
}
#tile-4 {
  background-image: linear-gradient(rgba(51, 204, 209, 0.5), rgba(44, 195, 242, 0.52)), url("../src/components/img/adventure2.JPG");
  background-position: top;
  background-size: cover;
  color: #eaf9f9;
}
#tile-3 {
  background-image: linear-gradient(rgba(195, 239, 217, 0.55), rgba(44, 195, 242, 0.52)), url("../src/components/img/teacher.JPG");
  background-position: center;
  background-size: cover;
}
#tile-2 {
  background-image: linear-gradient(rgba(44, 195, 242, 0.52), rgba(51, 204, 209, 0.5)), url("../src/components/img/otago.jpg");
  background-position: center;
  background-size: cover;
  color: #eaf9f9;
}
#tile-1 {
  background: linear-gradient(rgba(195, 239, 217, 0.55), rgba(51, 204, 209, 0.5)), url("../src/components/img/candles.jpg");
  background-position: center;
  background-size: cover;
}

/*This allows the tile to toggle the background and font size just for the title */
#tile-1:hover, #tile-2:hover, #tile-3:hover, #tile-4:hover, #tile-5:hover, #tile-6:hover {
  background-image: linear-gradient(to top, #35CDD1, #C4EFDA);
  color: inherit;
  font-size: 1.2em;
}

.tile-1-text, .tile-2-text, .tile-3-text, .tile-4-text, .tile-5-text, .tile-6-text {
  padding-top: 60px;
  margin: 0;
  font-size: 1.3em;
  text-indent: 0px;
  font-weight: bold;
  text-align: center;
  font-family: 'Pacifico', cursive;
  display: none
}

.tile svg {
  font-size: 2em
}

.scrolldown {
  color: #C4EFDA;
  position: fixed;
  right: 35px;
  font-size: 28px;
  bottom: 40px
}


/* Aboutpage */

.story {
  display: block;
  text-align: center;
  z-index: 1;
  margin: 300px 20%;
  border-radius: 20px;
  padding: 30px;
  font-family: 'Bitter', serif;
  font-size: 30px;
  font-weight: bold;
  color: #C4EFDA;
  background-image: linear-gradient(rgba(44, 195, 242, 0.25), rgba(51, 204, 209, 0.25)), url("../src/components/img/bus.jpg");
  background-size: cover;
  height: 220px
}

.timeline, .bottom, .regrets {
  background-color: #e6f7ee;
  background-image:
    radial-gradient(#35CDD1 3%, transparent 0),
    radial-gradient(#35CDD1 3%, transparent 0);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
  opacity: 0;
}

.timeline {
  margin-bottom: 90px;
  padding: 50px 30px
}

.row {
  display: inline-block;
  width: 31.333%;
  vertical-align: top;
  margin: 10px 1% 20px 1%;
}

.event {
  font-weight: bold;
  font-family: 'Bitter', serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.5em;
  width: 80%;
  margin: 20px 10%;
  border-left: 7px solid #35CDD1;
  padding-left: 2px
}

.event-title {
  color: #35CDD1;
  font-size: 25px;
  font-family: 'Monoton', serif;
}

.event-image {
  background-size: cover;
  height: 400px;
  border-radius: 100%;
  border: .8px solid #35CDD1;
  box-shadow: 2px 3px #35CDD1;
}

#dcpic {
  background-image: linear-gradient(rgba(44, 195, 242, 0.25), rgba(51, 204, 209, 0.25)), url("../src/components/img/childhood2.jpg");
}

#abroad {
  background-image: linear-gradient(rgba(44, 195, 242, 0.25), rgba(51, 204, 209, 0.25)), url("../src/components/img/sa.jpg");
}

#college {
  background-image: linear-gradient(rgba(44, 195, 242, 0.25), rgba(51, 204, 209, 0.25)), url("../src/components/img/graduation.jpg");
}

#between {
  background-image: linear-gradient(rgba(44, 195, 242, 0.25), rgba(51, 204, 209, 0.25)), url("../src/components/img/band.jpg");
}

#teaching {
  background-image: linear-gradient(rgba(44, 195, 242, 0.25), rgba(51, 204, 209, 0.25)), url("../src/components/img/udo.jpg");
}

#jeju {
  background-image: linear-gradient(rgba(44, 195, 242, 0.25), rgba(51, 204, 209, 0.25)), url("../src/components/img/homeboy.jpg");
}

#philly {
  background-image: linear-gradient(rgba(44, 195, 242, 0.25), rgba(51, 204, 209, 0.25)), url("../src/components/img/PHILLY.jpg");
}

#dc {
  background-image: linear-gradient(rgba(44, 195, 242, 0.25), rgba(51, 204, 209, 0.25)), url("../src/components/img/roofdc.jpg");
}

#coding {
  background-image: linear-gradient(rgba(44, 195, 242, 0.25), rgba(51, 204, 209, 0.25)), url("../src/components/img/code.png");
}

.why {
  border-radius: 4px;
  width: 40%;
  margin: auto;
  display: block;
  font-size: 20px;
  padding: 20px;
  font-weight: bold;
  clear:both;
  background-color: #35CDD1;
  margin-bottom: 60px
}

.why-title, .more, .personality-title, .regrets-title {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  margin-bottom: 10px
}

.why-title {
  margin-top: 90px;
  width: 45%;
  margin: auto;
  display: block;
  color: #35CDD1;
}

.more {
  color:#e6f7ee;
  margin-bottom: -12px;
  opacity: 0;
  margin-left: 10px
}

.why-text {
  font-family: 'Bitter', serif;
  text-align: justify;
  padding: 20px;
}

.personality-title {
  color: #2ec4f2;
  margin-bottom: 1px;
  opacity: 0;
  margin-left: 10px;
  width: 100%;
  clear: both;
}

.personality {
  margin: auto;
  display: block;
  width: 90%;
}

.personality-box {
  font-family: "Bitter", serif;
  color: #2ec4f2;
  border: 1px solid #2ec4f2;
  background-color: #e6f7ee;
  border-radius: 8px;
  box-shadow: 3px 4px;
  display: inline-block;
  width: 18%;
  float: left;
  padding: 4%;
  margin: 1%;
  padding-bottom: 5%
}

.personality-box svg {
  font-size: 50px
}

.arrow, .arrow-down {
  color: #2ec4f2;
  margin: 1%;
  display: inline-block;
  width: auto;
  float: left;
  font-size: 4em;
  height: 200px;
  vertical-align: middle;
  text-align: center;
}

.arrow-down {
  width: 100%;
  margin: auto;
  display: none;
  height: auto
}

.regrets-title {
  color: #e6f7ee;
  margin-left: 10px;
  margin-bottom: 1px;
  margin-top: 170px
}

.regrets {
  height: 390px;
  margin-bottom: 90px;
}

.regret-box {
  display: block;
  color: black;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
}

.regret-text {
  font-family: 'Bitter', serif;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  line-height: 1.5em;
  margin: 10% 0;
  border-left: 7px solid #35CDD1;
  padding-left: 2px;

}

.regret-image {
  background-image: linear-gradient(rgba(44, 195, 242, 0.25), rgba(51, 204, 209, 0.25)), url("../src/components/img/Hamdeok1.jpg");
  width: 30%;
  height: 250px;
  background-size: cover;
  background-position: bottom;
  display: inline-block;
  float: right;
  border: .8px solid #35CDD1;
  box-shadow: 2px 3px #35CDD1;
  border-radius: 10px;
  margin: 7% 0 7% 30px
}

#reinvent {
  margin-top: 500px;
  margin-bottom: -10px;
}



/* Bottom Links */


.bottom {
  width: 100%;
  opacity: 1;
  padding-bottom: 300px;
  padding-top: 2px;
  z-index: 40;
  background-color: #C4EFDA;
  background-image:
    radial-gradient(#35CDD1 5%, transparent 0),
    radial-gradient(#35CDD1 5%, transparent 0);

}

.bottom-link a {
  color: #35CDD1;
  font-family: 'Pacifico', cursive;
  font-size: 20px;
}

.bottom-link a:hover {
  color: #262c2d
}

.bottom-link {
  display: inline-block;
  float: left;
  clear: both;
  margin: 2px;
  width: auto
}

.row-right {
  display: inline-block;
  float: right;
  text-align: right;
}

.row-left {
  display: inline-block;
  float: left;
  text-align: left;
}

.mobile-row {
  display: none
}

.bottom-navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  z-index: 40
}


/* Skills */

.skillbox {
  margin: 300px 30px 0 30px;
}

.skills-container {
}

.col {
  display: inline-block;
  width: 46%;
  float: left;
  margin: 2%
}

.skill {
  font-family: "Bitter", serif;
  color: #2ec4f2;
  border: 1px solid #2ec4f2;
  background-image: linear-gradient(to top, #C4EFDA, #e6f7ee);
  border-radius: 8px;
  box-shadow: 3px 4px;
  float: center;
  text-align: center;
  width: 80%;
  margin: 10px auto;
  padding: 5%
}

.skill-label {
  font-size: 2em;
  font-family: "Monoton", serif;
  color: #35CDD1;
}

.skill-title {
  display: block;
  float: none;
  clear: both;
  color: #35CDD1;
  font-family: 'Bitter', serif;
  font-size: 30px;
  margin-top: 10px
}

.skill-level {
  font-size: 3em;
  font-family: 'Black Ops One', serif;
  word-spacing: -10px
}

.skill-leveltitle {
  font-family: 'Pacifico', cursive;
  font-size: 20px
}

#skillicon {
  font-size: 3em;
  color: #35CDD1;
}

.skill-icon i {
  font-size: 40px
}



/*Show Pages*/

.projectshowborder {
  margin: 0
}

.showimg img {
  width: 100%;
  border-radius: 10px;
}

.showimg {
  float: left;
  display: inline-block;
  width: 44%;
  margin: 2%;
}

.desc {
  float: left;
  display: inline-block;
  width: 44%;
  text-align: left;
  background-image: linear-gradient(to top, #35CDD1, #C4EFDA);
  z-index: 1;
  border-radius: 10px;
  font-family: 'Bitter', serif;
  font-size: 1em;
  margin: 2%;
  padding: 2%
}

.projectborder {
  margin: 20px 0;
  height: auto
}

.buttons {
  width: 100%;
  clear: both;
  margin: 40px auto 600px auto;
  text-align: center;
  color: #C4EFDA;
}

.github, .link, .goback {
  font-family: 'Monoton', serif;
  background: #35CDD1;
  border-radius: 3px;
  display: inline-block;
  width: 100px;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  margin: 10px;
  word-spacing: 0.2em
}

.link a, .github a, .goback a {
  color: #262c2d;
}

.buttons a:hover{
  color: #C4EFDA;
}

/* Contact Page (Empathy) */

.contactcontainer {
  text-align: center;
  width: 50%;
  z-index: 1;
  margin: 280px auto 100px auto;
  border-radius: 20px;
  padding: 20px;
  font-family: 'Bitter', serif;
  font-size: 1.4em;
  font-weight: bold;
  color: #35CDD1;
  background: #C4EFDA;
  background-image:
    radial-gradient(#35CDD1 4%, transparent 0),
    radial-gradient(#35CDD1 4%, transparent 0);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}

.formcaption {
  display: inline-block;
  margin: 10px auto;
  font-size: 1.1em;
  font-weight: bold;
}

label {
  font-size: 0.8em;
}

input {
  background: #eaf9f9;
  border: none;
}

textarea {
  display: block;
  width: 80%;
  height: 60px;
  border: none;
  border-radius: 10px;
  margin: 10px auto 10px auto;
  background: #eaf9f9;
  background-image:
    radial-gradient(#C4EFDA 4%, transparent 0),
    radial-gradient(#C4EFDA 4%, transparent 0);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
  color: #35CDD1;
  font-size: 1.1em
}

.input-row-2 {
  margin-top: 15px
}

button#submit {
  font-size: 23px;
  background-image: linear-gradient(to top, #35CDD1, #C4EFDA);
  font-family: 'Monoton', serif;
  color: #262c2d;
  border: none;
  border-radius: 10px;
  margin: 10px auto
}

button#submit:hover {
  color: #2ec4f2
}

.empathy {
  display: block;
  text-align: center;
  background-image: linear-gradient(to top, #35CDD1, #C4EFDA);
  width: 40%;
  z-index: 1;
  margin: 300px auto 10px auto;
  border-radius: 20px;
  padding: 20px;
  font-family: 'Pacifico', serif;
  font-size: 1.6em;
  font-weight: bold;
  color: #eaf9f9
}

form {
  z-index: 5
}

.contactpage {
  margin-bottom: 800px
}



@media only screen and (max-width: 800px) {
  .regrets {
    height: 650px;
    padding: 5px
  }

  .regret-text {
    font-size: 22px
  }

  .regret-image {
    width: 35%;
    height: 180px
  }

  .arrow {
    display: none
  }

  .arrow-down {
    display: block;
  }

  .personality-box {
    font-size: 16px;
    width: 83%;
    margin: 0 auto;
    padding: 5% 8%;
    padding-bottom: 10%
  }

  #reinvent {
    margin-top: 1000px
  }

  .event-image {
    height: 200px
  }

  .imageborder {
    height: 100px
  }

  .navlinks a {
    display: inline-block;
    padding: 5px;
    padding-top: 8px;
    margin: 0 auto 4px auto;
    font-size: 13px;
    width: 50%
  }

  .navbar {
    height: 300px;
    margin: 35px 15%;
    margin-top: 30px;
    padding-bottom: 20px;
    width: 70%;
  }

  .navtitle {
    width: 200px;
    font-size: 2em;
    margin: 20px auto 0 auto;
    overflow: hidden;
    width: 100%
  }

  .navsubtitle, .navsubtitlestick {
    font-size: 13px;
  }

  .story {
    margin-top: 400px
  }

  .contactcontainer {
    margin-top: 430px
  }

  .tiles {
    margin-top: 100px
  }

  .skill-label {
    margin-top: 90px
  }

  .skill-level {
    font-size: 2em
  }
}

@media only screen and (max-width: 500px) {

  .cardborder {
    width: 100%;
    display: block;
    float: none;
  }

  .gallery {
    margin-top: 200px;
  }

  .navstick {
    height: 28px
  }

  .navbar hr {
    margin: 12px auto 14px auto
  }

  .emily {
    font-size: 10px;
    width: 60%;
    margin: auto 20%;
  }

  .emily a:visited, .emily a {
    color: #35CDD1
  }

  .socialmedia a {
    font-size: 20px
  }

  .aboutimage {
    float: none;
    width: 80%;
  }

  .forwardarrow {
    right: 2%;
    margin-top: 100px;
    padding: 7px
  }

  .backarrow {
    left: 2%;
    margin-top: 100px;
    padding: 7px
  }

  .show {
    width: 70%;
    margin: 200px auto;
  }

  .showimage {
    width: 100%
  }

  a {
    text-decoration: none;
  }

  .projectspage {
    margin: 340px auto;
  }

  .nav, button.hamburger, .mobile-navlinks, .mobile-navlinks a, .cross {
    display: block;
  }

  .aboutpage, .home {
    margin: 390px auto;
  }

  .home img {
    width: 80%
  }

  .contactcontainer {
    width: 80%;
    margin-top: 360px;
  }

  .formcaption {
    word-spacing: -3px
  }

  .submit {
    font-size: 60px
  }

  .mobile-navlinks {
    display: block;
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
    border-bottom: 1px solid #2ec4f2;
    border-radius: 0;
    line-height: 2.5em;
    padding: 8px;
    opacity: 1;
    z-index: 100;
    background: #C4EFDA;
    background-image:
      radial-gradient(#35CDD1 8%, transparent 0),
      radial-gradient(#35CDD1 8%, transparent 0);
    background-size: 10px 10px;
    background-position: 0 0, 15px 15px;  font-family: 'Bitter', serif;
  }

  .mobile-navlinks a {
    color: #35CDD1;
    text-align: center;
    background: none;
    display: block;
    font-size: 25px;
    padding: 9px
  }

  .mobile-navlinks a:hover {
    color: #35CDD1
  }

  a.cross {
    font-size: 40px
  }

  .desc-cont, .showimg {
    display: block;
    float: none;
    width: 90%
  }

  .desc {
    width: 400px
  }

  .projectborder {
    height: auto;
  }

  .bottom-link-left a {
    display: inline-block;
    overflow: hidden;
    position: fixed;
    left: 40px;
    margin-top: 5px;
    color: #35CDD1;
    font-family: 'Pacifico', cursive;
    font-size: 15px
  }

  .bottom-link-right a {
    display: inline-block;
    overflow: hidden;
    position: fixed;
    right: 40px;
    margin-top: 5px;
    color: #35CDD1;
    font-family: 'Pacifico', cursive;
    font-size: 15px
  }

  .bottom-link-left a:hover, .bottom-link-right a:hover {
    color: #2ec4f2
  }

  .row-left, .row-right {
    display: none
  }

  .mobile-row {
    display: block;
    width: 100%
  }

  .space {
    display: none
  }

  .story {
    font-size: 25px;
    margin: 0 20px 70px 20px;
    height: 190px;
    padding-top: 10px;
  }

  .aboutpage {
    margin-top: 360px
  }

  .row {
    display: block;
    width: 100%;
  }

  .event {
    margin: 20px 10% 50px 10%
  }

  .event-image {
    height: 300px
  }

  .dcpic, .coding {
    width: 65%
  }

  .beginning, .end {
    width: 65%
  }

  .why, .why-title {
    width: 75%;
    opacity: 0
  }

  .homecaptionlast {
    font-size: 29px;
    margin-top: 25px
  }

  .tiles {
    margin-top: 90px;
  }

  .tile {
    writing-mode: vertical-rl;
    text-orientation: sideways;
    height: 190px
  }

  .tile-1-text, .tile-2-text, .tile-3-text, .tile-4-text, .tile-5-text, .tile-6-text {
    visibility: hidden;
  }

  .tile svg {
    visibility: visible;
    font-size: 1em;
    width: 100%;
    text-align: center;
    padding-left: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
    margin: 40px auto 0 auto
  }

  #tile-1:hover, #tile-2:hover, #tile-3:hover, #tile-4:hover, #tile-5:hover, #tile-6:hover {
    font-size: 1em
  }

  .desc {
    width: auto
  }

  .link, .github, .goback {
    width: 70%;
    display: block;
    margin: 10px auto;
    color: #C4EFDA
  }

  .link:visited, .github:visited, .goback:visited {
    color: #C4EFDA
  }

  .buttons {
    margin: 30px auto 30px auto
  }

  .top {
    font-size: 28px;
    padding: 5px 12px;
    border: 2px solid #35CDD1
  }

  .regrets {
    height: 610px;
    padding: 5px;
  }

  .regret-text {
    font-size: 17px
  }

  .regret-image {
    width: 35%;
    height: 140px
  }

  .imageborder {
    height: 130px
  }

  .col {
    width: 100%
  }

  .col:last-child {
    margin-bottom: 200px
  }

  .skill-button {
    font-size: 1em;
    width: 200px;
    padding: 20px;
    margin-top: 300px
  }


}


@media only screen and (min-width: 2000px) {
  .tile {
    height: 500px
  }

  .story {
    height: 400px
  }

  .regret-image {
    background-position: center
  }
}
